
* {
	box-sizing: border-box;
}

body {
  background: black;
  color: white;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.mLogo {
	display: none;
}

.wrapper {
	flex: 1;
	padding:20px;
}



.headLogo {
  display: inline-flex;
  display: none;
}

.selected a {
	color: #910d0d;
}
 a {
	 color: #910d0d;
 }



ul .menu {
  margin: 0, 0;
}

/***** do not use now
nav ul li a:visited {
  color: #595959;
}
**********************/

a {
  text-decoration: none;
}


ul {
  list-style-type: none;
}


header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
	background-color: black;
	margin-bottom: 5px;
	position: sticky;
	top: 0;
}

header .menu {
  display: inline-flex;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.name {
  margin:5px 5px;
  color: #910d0d;
  font-size: 3em;
  font-family: 'IM Fell English', serif;

}

.span1{
  display: block;
  align: center;
  height: 50%;
	margin-bottom: 20px;
}

.span1 img {
  width: 100%;
  height: 100%;
}





.col {
  margin: 5px 10px;
	font-size: 1.2rem;
}

.main-stage {
  display: flex;
  align-items: flex-end;
}

nav {
  font-family: 'Quicksand', sans-serif;
}

footer {
	background-color: black;
	color: white;
	height: 20px;
	padding: 20px;
}

/***Menu Button - Nav ***/

ul li {
margin-right: 5px;

}

ul a {

  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 1.45em;
  font-weight: bold;

  color: #595959;
  cursor: pointer;
  text-decoration: none;
}

/***don't use now ***
ul a:hover {
  background: #171717;
}
**********************/

nav {
	width: 79%;
}

nav li {
  float: left;
  width: 20%;
  border-right: 1px solid #black;
}

nav li:last-child {
  border-right: none;
}

/***Gallery Page ***/


.galleryTitle {
	text-align: center;
	font-family: 'IM Fell English', serif;
	display: none;
}
#imageGallery li {
	display: inline-flex;

}
/** lightbox code **/

#overlay{
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 0px;
	margin-right: 0px;
}

#overlay img {
	display: flex;
	margin-top: 10%;
	max-height: 80%;
	max-width: 80%;
	}


#overlay p {
	color: white;
}

/**** End Gallery Page *****/

/*** Contact Page ***/


form {
	display: block;
	color: black;
	order: -1;
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

label {
  display: inline-block;
  margin-bottom: 8px;

}

input {
	width: 100%;
	margin: 0;
	font-size: 1.4rem;
	border-radius: 5px 5px;
}

#message {
	width: 100%;
	margin:0;
	border-radius: 5px 5px;
	min-height: 100px;
}

.submitButton {
	padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #910d0d;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #780000;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/*** End Contact Page ***/


/*** Events Page ***
	Seperate Css file
*** End Events Page ***/




@media only screen and (max-width: 595px) {

.mLogo {
	display: block;
}

.calLogo {
	display: none;
}

.logo {
	display: none;
	width: 80%;

}

.span1{
  display: block;
  align: center;
  height: 50%;
	margin: 0 15px;
}

.name {
	display: none;
}

  .hamburger {
    padding: 15px 0 0 15px;
    display: block;
		float: left;
  }

  .line {
    border-bottom: 4px solid #910d0d;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }

	nav {
		align-items: right;
	}

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }

  .slide-down {
    height: 275px;
  }

	.col {
	  margin: 5px 10px;
	}

	.main-stage {
	  display: block;

	}

	/***Gallery Page ***/

	#imageGallery li {
		display: block;
		margin-left: 0px;
	}


	#imageGallery {
		padding-left: 0px;
	}

	#imageGallery li a img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		margin: 20px auto;
	}

	.galleryTitle {
		display: block;
	}

/**** Form Page ******/
form {
	width: 100%;
}
